---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';

interface Props {
	title: string;
  description: string;
  category: string;
  navbarFixed: boolean;
}
const { title, description, category, navbarFixed=true } = Astro.props;

const site_icon = "/favicon.ico";
const site_title = "Matrixworks";
const page_title = `${site_title} | ${title}`;
---
<Layout title={page_title} description={description}>
  <Navbar 
    logo={site_icon}
    title={site_title}
    category={category}
    fixed={navbarFixed}
  />

  <main class="mb-auto">
    <slot name="title">
      <!-- default title -->
      <h1>{title}</h1>
    </slot>

    <slot />
  </main>

  <Footer />
</Layout>
